@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap");

:root {
  --color-background: #ffc0cb;
  --color-heading: #ff69b4;
  --color-text: #252525;
  --color-button: #ffff99;
  --color-accent: #e6e6fa;
  --color-realce: #98fb98;
  --color-heading-hover: #ff4f8c;
  --color-footer-background: #e9a4b4;
  --font-principal: "Montserrat Alternates", sans-serif;
  --font-paragraph: "Montserrat Alternates", sans-serif;
}
hmtl {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
* after {
  box-sizing: inherit;
}
/* RESET */
body {
  background-color: var(--color-background);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  height: 100vh;
}

p {
  font-size: 16px;
  font-family: var(--font-paragraph);
  color: var(--color-text);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--color-heading);
  font-family: var(--font-principal);
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}
p {
  text-align: center;
  color: var(--color-heading);
  font-family: var(--font-principal);
}
/* GLOBALS */
.padding-layout {
  padding-left: 120px;
  padding-right: 120px;
}
/* HEADER */
.header {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.header-logo {
  max-width: 80px;
}
.header-link {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
}
.header-link h1 {
  margin: 0;
}
/* NAV */
.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-heading);
  padding: 16px;
  list-style: none;
  margin: 0;
}
.nav-link {
  font-family: var(--font-principal);
  color: var(--color-text);
  font-weight: 700;
  text-decoration: none;
}
.nav-link:hover,
.nav-link-active {
  color: var(--color-background);
}
/* FOOTER */
.footer {
  background-color: var(--color-footer-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px 0 32px 0;
  margin-top: 10px;
}
footer h3 {
  margin: 0;
}
footer img {
  height: 50px;
}
.social-media {
  display: flex;
  gap: 20px;
}
footer p {
  margin: 0;
}
/* GRID INDEX */
.grid-galeria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 380px;
  gap: 15px;
}
.grid-galeria div {
  position: relative;
}
.grid-galeria div h3 {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.137);
  color: white;
  width: 100%;
  padding: 5px;
}
.img-4 {
  grid-column: span 2;
}
.img-6 {
  grid-row: span 2;
}
.img-8 {
  grid-row: span 2;
}
.grid-galeria div img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.producto {
  background-color: var(--color-accent);
  padding: 5px;
}
.producto-nombre {
  font-size: 20px;
}
.producto-precio {
  font-size: 15px;
  font-style: bold;
  color: var(--color-text);
}
.producto-nombre,
.producto-precio {
  font-family: var(--font-principal);
  margin: 10px 0;
  text-align: center;
  line-height: 1.2;
}

/* Nosotros */
.nosotros {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.nosotros-imagen {
  grid-row: 1/ 2;
  width: 100%;
  height: 350px;
}

/* Bloques */
.bloques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.bloque {
  text-align: center;
}
.bloque-imagen {
  width: 100%;
}
.bloque-titulo {
  margin: 0;
}

/* productos */
.products-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 24px 0;
  flex-wrap: wrap;
}

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.producto .nombre-producto {
  margin: 8px 0;
}

.producto .btn {
  border: none;
  background-color: var(--color-heading);
  padding: 12px 20px;
  width: fit-content;
  margin-bottom: 8px;
  border-radius: 4px;
  color: var(--color-accent);
}


/*! Blog */
.video {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.contenedor img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*! MEDIA QUERY */
@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    position: static;
  }
  h2 {
    margin: 5px 5px;
  }
  h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 460px) {
  header nav ul {
    flex-direction: column;
    text-align: center;
  }
  header nav ul li {
    margin: 0;
  }
}

@media screen and (max-width: 950px) {
  .grid-galeria {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 220px;
  }
  .grid-galeria div {
    grid-column: span 1;
    grid-row: span 1;
  }
  .img-5 {
    grid-column: span 2;
  }
}
@media screen and (max-width: 450px) {
  .grid-galeria {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .nosotros {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}
@media (min-width: 768px) {
  .nosotros-imagen {
    grid-column: 2/3;
  }
}
@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(4, 1fr);
  }
}
