@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap");


  $color-background: #ffc0cb;
  $color-background-dark: #ff9fa8;
  $color-heading: #ff69b4;
  $color-text: #252525;
  $color-text-paragraph: #9b6aa6;
  $color-button: #ffff99;
  $color-accent: #e6e6fa;
  $color-realce: #98fb98;
  $color-heading-hover: #ff4f8c;
  $color-footer-background: #e9a4b4;
  $color-white: #ffffff;
  $color-gray:#555555;
  $font-principal: "Montserrat Alternates", sans-serif;
  $font-paragraph: "Montserrat Alternates", sans-serif;
